@import "src/assets/styles/constants.scss";

@mixin li-active-hover() {
  background-color: $gold;
  color: $black;
  border: none;
}
$font_color: #fff;

.wrapper {
  padding: 1rem;
  border-top: 3px solid $black;
  .management-category {
    @include subheader($font_color);
  }
  ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: $font_color;
    padding-left: .5rem;
    .management-category-item {
      padding: .25rem 0.5rem;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      cursor: pointer;
    }
    .management-category-item:hover{
      @include li-active-hover();
    }
  }
}
.active {
  @include li-active-hover();
}

