@import "src/assets/styles/constants.scss";

$font_color: #fff;

.wrapper{
  padding: 1rem;
  height: inherit;
  tr, .component-header {
    color: $font_color;
    text-transform: uppercase;
  }
  th {
    color: $black;
    font-weight: $font_weight;
  }
  .table-thead-default {
    background-color: $font_color;
  }
  .table-action{
    width: 5%;
  }
  .table-count{
    width: 20%;
    text-align: center;
    font-weight: $font_weight;
  }
  tbody {
    tr:hover {
      background-color: $black;
      -webkit-transition: all 0.4s;
    }
  }
  .waybill-btn {
    color: $font_color;
    outline: none;
    margin: 0.5rem 0 0 1rem;
  }
  .item-delete {
    display: table-cell;
    vertical-align: middle;
    color: $red;
    -webkit-transition: all 0.4s;
  }
  .item-delete:hover {
    color: $font_color;
    cursor: pointer;
  }
  .font-default {
    color: $font_color;
  }
  .font-green {
    color: $dark_green;
  }
  .font-red {
    color: $red;
  }
}




