$font-size: 1rem;
$padding_vertical: 1rem;

.wrapper{
  background-color: white;
  padding: $padding_vertical 0;
  padding: 1rem;

  .table-action{
    width: 5%;
  }
  .table-count{
    width: 20%;
    text-align: center;
  }

  .waybill-btn {
    margin: 0.5rem 1rem 0 0;
    font-size: $font-size;
  }

  .item-delete {
    display: table-cell;
    vertical-align: middle;
    color: red;
  }
  .item-delete:hover {
    color: black;
    cursor: pointer;
  }
}




