.card {
  margin: 1rem 0;
  outline: none;
  cursor: pointer;
  img {
    max-height: 275px;
  }
}

@media (max-width: 1200px) {
  .card {
    img {
      max-height: 180px;
    }
  }
}
@media (max-width: 990px) {
  .card {
    img {
      max-height: 260px;
    }
  }
}
@media (max-width: 580px) {
  .card {
    img {
      max-height: 360px;
    }
  }
}
