@import "src/assets/styles/constants.scss";

.card {
  margin: 1rem 0;
  outline: none;
  cursor: pointer;
  border: 1px solid $black;
  border-radius: 0;
  height: fit-content;
  -webkit-transition: all 0.4s;
  img {
    height: 275px;
    filter: brightness(90%);
  }
}
.card:hover {
  color: $gold;
  border: 1px solid $dark_gray;
  background: $black;
  .text-muted {
    border-color: $dark_gold;
    color: $dark_gold !important;
  }
}

@media (max-width: 1920px) {
  .card {
    img {
      max-height: 238px;
    }
  }
}
@media (max-width: 1366px) {
  .card {
    img {
      max-height: 180px;
    }
  }
}

@media (max-width: 1200px) {
  .card {
    img {
      max-height: 180px;
    }
  }
}
@media (max-width: 990px) {
  .card {
    img {
      max-height: 260px;
    }
  }
}
@media (max-width: 580px) {
  .card {
    img {
      max-height: 360px;
    }
  }
}
