.autocompleate-wrapper {
  padding: 1rem 0;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.mat-input-container{
  width: 86%;
  margin-left: 5%;
  font-size: 1.5rem;
}

.category-add {
  position: relative;
  left: 93%;
  top: -6rem;
}

.category-cards {
  position: relative;
  top: -3rem;
}
