<div>
  <!-- Autocomplete -->
  <div class="autocompleate-wrapper">
    <md-input-container>
      <input mdInput placeholder="Назание категории" [mdAutocomplete]="auto" [formControl]="stateCtrl" value="">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let value of filteredValue | async" [value]="value">
        {{ value }}
      </md-option>
    </md-autocomplete>
  </div>
  <!-- // Autocomplete -->

  <!-- Category cards -->
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let item of categories | filter:stateCtrl.value:'name'">
      <app-category-item [item]="item"></app-category-item>
    </div>
  </div>
  <!-- // Category cards -->
</div>
<div>
