@import "src/assets/styles/constants.scss";

.card {
  margin: 1rem 0;
  outline: none;
  cursor: pointer;
  border: 1px solid $black;
  border-radius: 0;
  -webkit-transition: all 0.4s;
  img {
    height: 275px;
    filter: brightness(90%);
  }
  .card-title {
    font-weight: $font_weight;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
.card:hover {
  color: $dark_gold;
  border: 1px solid $dark_gray;
  background: $black;
}

@media (max-width: 1920px) {
  .card {
    img {
      height: 238px;
    }
  }
}
@media (max-width: 1600px) {
  .card {
    img {
      height: 190px;
    }
  }
}
@media (max-width: 1366px) {
  .card {
    img {
      height: 170px;
    }
  }
}

@media (max-width: 1200px) {
  .card {
    img {
      height: 130px;
    }
  }
}
@media (max-width: 990px) {
  .card {
    img {
      height: 300px;
    }
  }
}
