<!-- Standart mode -->
<div *ngIf="!(editMode | async); else editableCategoryItem"
     class="card card-hoverable"
     [routerLink]="['/categories/' + category.id]">
  <img [src]="category.imgPath" alt="Card image cap" (error)="handleImgError($event)">
  <div class="card-body text-center">
    <p class="card-title">{{ category.name }}</p>
  </div>
</div>
<!-- Editable mode -->
<ng-template #editableCategoryItem>
  <div class="card">
    <span contenteditable="true"
       [(contenteditableModel)]="category.imgPath"
       (keydown)="markModel()"
       class="editable-p">{{ category.imgPath }}</span>
    <img [src]="category.imgPath" alt="Card image cap" (error)="handleImgError($event)">
    <div class="card-body text-center">
      <p class="card-title"
         (keydown)="markModel()"
         [(contenteditableModel)]="category.name"
         contenteditable="true">{{ category.name }}</p>
    </div>
    <button md-raised-button color="primary"
            type="button"
            class="item-action"
            [routerLink]="['/categories/' + category.id]">К продуктам</button>
    <button md-raised-button color="warn"
            [disabled]="!category.edited"
            class="item-action"
            (click)="discardChanges()">Discard Changes</button>
  </div>
</ng-template>
