@import "src/assets/styles/constants.scss";

.card {
  @include inventory-card();
}
.card-hoverable {
  cursor: pointer;
}
.card-hoverable:hover {
  color: $dark_gold;
  border: 1px solid $dark_gray;
  background: $black;
}
.editable-p {
  @include editable-p();
}
.go-next {
  border-radius: 0;
  outline: none;
}
@media (max-width: 1920px) {
  .card {
    img {
      height: 238px;
    }
  }
}
@media (max-width: 1600px) {
  .card {
    img {
      height: 190px;
    }
  }
}
@media (max-width: 1366px) {
  .card {
    img {
      height: 170px;
    }
  }
}

@media (max-width: 1200px) {
  .card {
    img {
      height: 130px;
    }
  }
}
@media (max-width: 990px) {
  .card {
    img {
      height: 300px;
    }
  }
}
