@import 'src/styles.scss';

$footer_text_color: #fff;
$border_color: #3a3a3a;

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 2rem;
  background-color: $custom_black;
  color: $footer_text_color;
  border-top: 1px solid $border_color;
  table {
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }
  p {
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .left-col {
    padding-left: 1rem;
    width: 70%;
  }
  .right-col {
    text-align: right;
    padding-right: 1rem;
    width: 30%;
  }
}
