<div class="autocompleate-wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div formArrayName="data">
      <div class="row" *ngFor="let iCtrl of formData; let i = index" [formGroupName]="i">
        <div class="col-8">
          <md-input-container>
            <input mdInput placeholder="Название товара" [mdAutocomplete]="auto" type="text" formControlName="category">
          </md-input-container>

          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let value of filteredValue | async" [value]="value">
              {{ value }}
            </md-option>
          </md-autocomplete>
        </div>

        <div class="col-4 row">
        <div class="col-10">
          <md-input-container>
            <input mdInput type="number" placeholder="Кол-во" formControlName="amount">
          </md-input-container>
        </div>
        <div class="col-2 item-delete" *ngIf="i !== 0">
          <i class="fa fa-minus fa-2x" (click)="deleteFormArrayItem(i)"></i>
        </div>
      </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button md-button class="auth-btn" type="button" (click)="addParam()" [disabled]="!form.valid" [ngClass]="{ 'btn-disabled': !form.valid }">Добавить</button>
      </div>
      <div class="col-md-6 col-12">
        <button md-button type="submit" [disabled]="!form.valid" [ngClass]="{ 'btn-disabled': !form.valid }" class="auth-btn">Сохранить</button>
      </div>
      <div class="col-md-6 col-12">
        <button md-button class="auth-btn" (click)="resetForm()" type="button" [disabled]="!form.touched" [ngClass]="{ 'btn-disabled': !form.touched }">Отмена</button>
      </div>
    </div>
  </form>
</div>

<!-- <div class="autocompleate-wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div formArrayName="data">
      <div class="row" *ngFor="let iCtrl of formData; let i = index" [formGroupName]="i">
        <div class="col-8">
          <md-input-container>
            <input mdInput placeholder="Название товара" [mdAutocomplete]="auto" type="text" formControlName="category">
          </md-input-container>

          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let value of filteredValue | async" [value]="value">
              {{ value }}
            </md-option>
          </md-autocomplete>
        </div>

        <div class="col-4 row">
        <div class="col-10">
          <md-input-container>
            <input mdInput type="number" placeholder="Кол-во" formControlName="amount">
          </md-input-container>
        </div>
        <div class="col-2 item-delete" *ngIf="i !== 0">
          <i class="fa fa-minus fa-2x" (click)="deleteFormArrayItem(i)"></i>
        </div>
      </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button md-button class="auth-btn" type="button" (click)="addParam()" [disabled]="!form.valid" [ngClass]="{ 'btn-disabled': !form.valid }">Добавить</button>
      </div>
      <div class="col-md-6 col-12">
        <button md-button type="submit" [disabled]="!form.valid" [ngClass]="{ 'btn-disabled': !form.valid }" class="auth-btn">Сохранить</button>
      </div>
      <div class="col-md-6 col-12">
        <button md-button class="auth-btn" (click)="resetForm()" type="button" [disabled]="!form.touched" [ngClass]="{ 'btn-disabled': !form.touched }">Отмена</button>
      </div>
    </div>
  </form>
</div> -->
