$main_color: #1e88e5;

.auth-btn {
  width: 100%;
  padding: .7em;
  margin: .5rem 0;
  font-size: 20px;
  border-radius: 0;
  border: none;
  color: white;
  background-color: $main_color;
  cursor: pointer;
}

.btn-disabled {
  background-color: gray;
  cursor: default;
}

.item-delete {
  display: table;
  height: 6rem;
  padding-left: 5px !important;
  i {
    display: table-cell;
    vertical-align: middle;
    color: red;
  }
  i:hover {
    color: black;
    cursor: pointer;
  }
}

.autocompleate-wrapper{
  background-color: white;
  padding: 1rem  5% .5rem 5%;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.mat-input-container{
  width: 90%;
  font-size: 1.5rem;
}
