$font-size: 1rem;
$padding_vertical: 1rem;
$main_color: #1e88e5;

.autocompleate-wrapper {
  padding: 1rem 0;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.mat-input-container{
  width: 90%;
  margin: 0 5%;
  font-size: $font-size;
}
