$font-size: 1rem;
$padding_vertical: 1rem;
$main_color: #1e88e5;

.wrapper{
  background-color: white;
  padding: $padding_vertical 0;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 1rem;
}
.btn-add {
  position: absolute;
  top: 8px;
  right: 1rem;
}
.list-group-item{
  border: none;
  cursor: pointer;
}
.component-header {
  outline: none;
}
.component-header:hover {
  color: $main_color;
  cursor: pointer;
}

.active {
  a {
    color: #ffffff;
    background-color: #3f51b5;
  }
}
