<div class="wrapper">
  <h5 class="component-header" [routerLink]="['/categories/']">Категории</h5>
  <button md-icon-button color="primary" (click)="openDialog()" class="btn-add">
    <i class="fa fa-plus-circle fa-2x"></i>
  </button>
  <div class="list-group">
      <div class="list-item" [routerLinkActive]="'active'" [routerLink]="['/categories/' + category.id]" *ngFor="let category of categories">
        <a class="list-group-item list-group-item-action">
          {{category.name}}
        </a>
      </div>
  </div>
</div>
