<div>
  <div class="col-12 menu">
      <!-- Profile card -->
      <a routerLink="profile">
        <div class="card">
          <img class="card-img-top rounded-circle"
              src="\assets\images\users\profile-icon.png" alt="Card image cap">
          <div class="card-body text-center">
            <h4 class="card-title">{{ username }}</h4>
          </div>
        </div>
      </a>
      <!-- // Profile card -->

      <!-- Menu list -->
      <md-list>
          <h3 md-subheader>Просмотр товара</h3>
          <md-list-item>
            <h4 md-line>
              <button md-button routerLink=".">По наименованию</button>
            </h4>
          </md-list-item>
          <md-list-item>
              <h4 md-line>
                <button md-button routerLink=".">По складам</button>
              </h4>
          </md-list-item>

          <md-divider></md-divider>

          <h3 md-subheader>История</h3>
          <md-list-item>
              <h4 md-line>
                <button md-button routerLink=".">Просмотр истории</button>
              </h4>
          </md-list-item>
        </md-list>
        <!-- // Menu list -->
  </div>
</div>
