<!-- Autocomplete -->
<!-- <div class="autocompleate-wrapper">
  <md-input-container>
    <input mdInput placeholder="Назание продукта" [mdAutocomplete]="auto" [formControl]="stateCtrl" value="">
  </md-input-container>

  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let value of filteredValue | async" [value]="value">
      {{ value }}
    </md-option>
  </md-autocomplete>
</div>

<button md-icon-button color="primary" (click)="openDialog()" class="btn-add">
    <i class="fa fa-plus-circle fa-2x"></i>
  </button> -->
<!-- // Autocomplete -->

<!-- Product cards -->
<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of pruducts | filter:stateCtrl.value:'name'">
    <app-product-item [categoryId]="currentCategoryId" [product]="item"></app-product-item>
  </div>
</div>
<!-- // Product cards -->
