<!-- Autocomplete -->
<div class="autocompleate-wrapper">
  <md-input-container>
    <input mdInput placeholder="Назание продукта" [mdAutocomplete]="auto" [formControl]="stateCtrl" value="">
  </md-input-container>

  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let value of filteredValue | async" [value]="value">
      {{ value }}
    </md-option>
  </md-autocomplete>
</div>
<!-- // Autocomplete -->

<!-- Product cards -->
<div class="row category-cards">
  <div class="col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let item of pruducts | filter:stateCtrl.value:'name'">
    <app-product-item [categoryId]="currentCategoryId" [product]="item"></app-product-item>
  </div>
</div>
<!-- // Product cards -->
