@import "src/assets/styles/constants.scss";

.wrapper {
  margin-top: .5rem;
  background-color: white;
  padding: 0.5rem 1rem;
  h3 {
    width: fit-content;
  }
}
.product-img{
  width: 100%;
}
.close {
  color: $black;
  position: absolute;
  right: 1rem;
  top: 0;
  cursor: pointer;
}
.product-info {
  margin-bottom: 1rem;
  ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    .fa {
      margin-right: .5rem;
    }
  }
}
.count-btns {
  margin: .5rem 0;
}
.edit-form {
  margin-bottom: 1rem;
}
.editable-p {
  @include editable-p;
}
.editableProductDescription {
  width: 100%;
}
.item-action {
  border-radius: 0;
  outline: none;
  width: 100%;
  text-transform: uppercase;
}
md-input-container{
  width: 51%;
  input {
    width: 100%;
  }
}
.mat-icon-button {
  margin-left: 1%;
}


