<div class="container wrapper">
  <div class="row">
    <!-- // Product image -->
    <div class="col-lg-5 product-image">
      <img [src]="product.imgPath" alt="product-img">
    </div>
    <!-- // Product image -->
    <div class="col-lg-7">
      <h1>{{ product.name }}</h1>
      <i [routerLink]="['../../']" class="fa fa-long-arrow-left fa-3x close"></i>
      <div class="product-description">
        <p>{{ product.description }}</p>
      </div>
      <!-- Product info -->
      <h3>Информация</h3>
      <ul class="product-info">
        <li><i class="fa fa-tags"></i> Категория: {{ category.name }}</li>
        <li><i class="fa fa-balance-scale"></i> Единицы измерения: {{ product.measurement }}</li>
        <li><i class="fa fa-cubes"></i> Количество на складе: {{ product.count }}</li>
        <li><i class="fa fa-calendar"></i> Последнее обновление: {{ product.lastUpdate | date: 'shortDate' }} </li>
      </ul>
      <!-- // Product info -->
    </div>
  </div>
  <!-- Add / Remove btns -->
  <div class="row">
    <div class="col-12 text-center">
      <button md-raised-button color="primary" type="button" class="big-btn" [disabled]="editMode" (click)="editMode = true; sign = 1">Добавить</button>
      <button md-raised-button color="warn" type="button" class="big-btn" [disabled]="editMode" (click)="editMode = true; sign = -1">Удалить</button>
    </div>
  </div>
  <!-- // Add / Remove btns -->
  <!-- Add / Remove form -->
  <div class="row" *ngIf="editMode">
    <div class="col-12 text-center">
      <md-input-container>
        <input mdInput type="number" placeholder="Количество товара" [formControl]="amountControl" #amCtrl>
        <md-error *ngIf="amountControl.hasError('min')">
          Значение, должно быть больше 0!
        </md-error>
        <md-error *ngIf="amountControl.hasError('required')">
          Значение обязательно!
        </md-error>
      </md-input-container>
      <button md-icon-button [disabled]="!amountControl.valid" (click)="submit()">
          <i class="fa fa-check-circle-o fa-3x"></i>
      </button>
      <button md-icon-button (click)="reset()">
          <i class="fa fa-times-circle-o fa-3x"></i>
      </button>
    </div>
  </div>
  <!-- // Add / Remove form -->
</div>
