.wrapper {
  margin-top: 1rem 0;
  background-color: white;
  padding: 1.5rem;
  // border: 1px solid rgba(0,0,0,.125);
  // border-radius: .25rem;
}

.product-image {
  margin-bottom: 1rem;
  img {
    width: 100%;
  }
}

.close {
  position: absolute;
  right: 1rem;
  top: 0;
  cursor: pointer;
}

h1, h3 {
  color: #868e96;
}

.product-description {
  font-size: 1.2rem;
}

.product-info {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  i {
    text-align: center;
  }
  .fa {
    width: 25px;
    margin-right: .5rem;
  }
}


md-input-container{
  width: 51%;
  .mat-input-wrapper {
    margin-top: 2rem;
  }
  input {
    width: 100%;
    font-size: 1.5rem;
  }
}
.mat-icon-button {
  margin-left: 1%;
}


