<h1 md-dialog-title>{{data.name}}</h1>
<div md-dialog-content>
  <form [formGroup]="form">
    <md-form-field>
      <input mdInput placeholder="Название" formControlName="name">
      <md-error *ngIf="form.controls['name'].hasError('required')">
        Название <strong>обязательно</strong>
      </md-error>
    </md-form-field>
    <md-form-field>
      <input mdInput placeholder="Изображение" formControlName="imgPath">
      <md-error *ngIf="form.controls['imgPath'].hasError('required')">
        Изображение <strong>обязательно</strong>
      </md-error>
    </md-form-field>
  </form>
</div>
<div md-dialog-actions>
  <button md-button [md-dialog-close]="onClose()" tabindex="2" [disabled]="!form.valid">Подтвердить</button>
  <button md-button (click)="onNoClick()" tabindex="-1">Отмена</button>
</div>
