// This file contains color palettes, that are used in the application.
$blue_palette: (
  50 : #e3e6ea,
  100 : #bac0cb,
  200 : #8c97a9,
  300 : #5d6d86,
  400 : #3b4d6c,
  500 : #182e52,
  600 : #15294b,
  700 : #112341,
  800 : #0e1d38,
  900 : #081228,
  A100 : #648bff,
  A200 : #3165ff,
  A400 : #003ffd,
  A700 : #0039e4,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
$green_palette: (
  50 : #e6e8e9,
  100 : #c0c6c8,
  200 : #96a0a3,
  300 : #6c797e,
  400 : #4d5d63,
  500 : #2d4047,
  600 : #283a40,
  700 : #223237,
  800 : #1c2a2f,
  900 : #111c20,
  A100 : #63d8ff,
  A200 : #30cbff,
  A400 : #00bdfc,
  A700 : #00aae2,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);
$gold_palette: (
  50 : #fbf8f2,
  100 : #f5ecde,
  200 : #eee0c9,
  300 : #e7d4b3,
  400 : #e2caa2,
  500 : #ddc192,
  600 : #d9bb8a,
  700 : #d4b37f,
  800 : #cfab75,
  900 : #c79e63,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffebcf,
  A700 : #ffe1b6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
$red_palette: (
  50 : #f3e9e8,
  100 : #e0c9c7,
  200 : #cca5a1,
  300 : #b7817b,
  400 : #a7665f,
  500 : #984b43,
  600 : #90443d,
  700 : #853b34,
  800 : #7b332c,
  900 : #6a231e,
  A100 : #ffada7,
  A200 : #ff7e74,
  A400 : #ff4e41,
  A700 : #ff3728,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);
$black_palette: (
  50 : #e3e3e3,
  100 : #b9b9b9,
  200 : #8b8b8b,
  300 : #5d5d5d,
  400 : #3a3a3a,
  500 : #171717,
  600 : #141414,
  700 : #111111,
  800 : #0d0d0d,
  900 : #070707,
  A100 : #ff5050,
  A200 : #ff1d1d,
  A400 : #e90000,
  A700 : #cf0000,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
$light_black_palette :(
  50 : #e5e5e5,
  100 : #bdbdbd,
  200 : #919191,
  300 : #656565,
  400 : #444444,
  500 : #232323,
  600 : #1f1f1f,
  700 : #1a1a1a,
  800 : #151515,
  900 : #0c0c0c,
  A100 : #e76c6c,
  A200 : #e04040,
  A400 : #ec0000,
  A700 : #d30000,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
$dark_gray_palette: (
  50 : #e5e5e5,
  100 : #bdbdbd,
  200 : #919191,
  300 : #656565,
  400 : #444444,
  500 : #232323,
  600 : #1f1f1f,
  700 : #1a1a1a,
  800 : #151515,
  900 : #0c0c0c,
  A100 : #e76c6c,
  A200 : #e04040,
  A400 : #ec0000,
  A700 : #d30000,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
