<div class="container-fluid">
    <div class="row">
      <div class="col-9 background-image">
      </div>
      <!-- Registration -->
      <div class="col-3 login-wrapper">
        <div class="fake-logo">
          <h1>Inventory</h1>
          <h5>Регистрируйте, получайте свой аккаунт и начинайте работать!</h5>
        </div>

        <div>
          <!-- Inputs -->
          <table class="form-table">
            <tr><td>
                <md-input-container>
                  <input mdInput placeholder="E-mail" type="email" >
                  <!-- <md-hint align="end"> {{ e.value.length }} / 50</md-hint> -->
                </md-input-container>
            </td></tr>
            <tr><td>
                <md-input-container>
                  <input mdInput placeholder="Пароль" type="password">
                  <!-- <md-hint align="end"> {{ e.value.length }} / 50</md-hint> -->
                </md-input-container>
            </td></tr>
            <tr><td>
                <md-input-container>
                  <input mdInput placeholder="Повторите пароль" type="password">
                </md-input-container>
            </td></tr>
          </table>

          <!-- // Inputs -->
          <button md-button class="auth-btn" type="button" (click)="submit()">Зарегистрироваться</button>
          <h5>Уже есть аккаунт?   <a routerLink="/login">Войдите</a></h5>
        </div>
      </div>
      <!-- // Registration -->
    </div>
  </div>

