@import "src/assets/styles/constants.scss";

$background_color: white;

.navbar {
  padding-left: 0.3rem;
  padding-right: 1.5rem;
}
nav {
  height: 5rem;
  background-color: $background_color;
  .navbar-brand {
    text-align: center;
    font-weight: 500;
    color: black;
    font-size: 1.5rem;
  }
  .nav-item {
    font-weight: $font_weight;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .nav-link {
    color: black;
    border-bottom: 3px solid $background_color;
    -webkit-transition: all 0.4s;
  }
  .nav-link:hover {
    color: $dark_gold;
    border-color: $dark_gold;
  }
}
