$main_color: #1e88e5;

nav {
  min-height: 4.5rem;
  padding: 0 1rem;
  background-color: #272C33 !important;

  .logo-wrapper {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    display: table;
    position: relative;
    left: -1rem;
    padding: 1rem;

    .navbar-brand {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .nav-item {
    padding: .5rem .5rem;
    margin: .1rem .5rem;
  }
  .nav-item:hover {
    border-bottom: 2px solid #398BF7;
    a {
      color: #398BF7;
    }
  }

  .nav-link {
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;

  }
  .active {
    //background-color: #ffffff; //rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #398BF7;
    a {
      color: #398BF7; //#3F51B5;
    }
    a:hover {
      color: #398BF7;
    }
  }
}
