<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <div class="logo-wrapper" routerLink="/">
    <a class="navbar-brand" routerLink=".">Inventory Appication</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/categories']">Категории</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/statictics']">Статистика</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link">Накладная</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link">Управление</a>
      </li>
    </ul>
  </div>
</nav>
