$main_color: #1e88e5;

nav {
  background-color: $main_color;
  height: 4.5rem;
  padding: 0;

  .logo-wrapper {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    display: table;

    a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: white;
    }
  }

  .form-inline {
    float: right;

    .form-control {
      border: none;
      border-radius: 0;
    }

    .btn-outline-light {
      border-radius: 0;
    }
    .btn-outline-light:hover {
      color: $main_color;
    }
  }
}
