$main_color: #3F51B5;

.container-fluid {
  min-height: 100vh;
}

.background-image {
  width: 70%;
  min-height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url("../../assets/images/auth-background-img.jpg");
  background-size: cover;
  background-position: center;
}

.login-wrapper {
  width: 30%;

  padding: 0.7rem;
  background-color: white;
  padding-bottom: 5rem;

  h5 {
    font-size: 1.5rem;
  }
  .fake-logo {
    text-align: center;
    padding-top: 4em;

    h1 {
      margin-bottom: 0.5em;
      font-size: 3rem;
    }
  }

  form {
    padding: 8em 1em 0em;

    .form-table {
      width: 100%;
      md-input-container{
      width: 100%;
        .mat-input-wrapper {
          margin-top: 2rem;
        }
        input {
          width: 100%;
          font-size: 1.5rem;
        }
      }
    }
  }

  .big-btn {
    width: 100%;
    padding: .7em;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: white;
  }

  a {
    color: $main_color;
  }
}

@media (max-width: 1270px) {
  .background-image {
    width: 60%;
  }
  .login-wrapper {
    width: 40%;
  }
}

@media (max-width: 991px) {
  .background-image {
    width: 50%;
  }
  .login-wrapper {
    width: 50%;
  }
}

@media (max-width: 770px) {
  .background-image {
    width: 30%;
  }
  .login-wrapper {
    width: 70%;
  }
}

@media (max-width: 545px) {
  .background-image {
    display: none;
  }
  .login-wrapper {
    width: 100%;
  }
  .to-registration {
    text-align: center;
  }
}
