<div>
  <div class="col-12 menu">
      <div class="card">
          <img class="card-img-top rounded-circle"
              src="\assets\images\users\profile-icon.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Александер Анисимов-Кириллов</h4>
          </div>
      </div>
      <md-list>
        <md-list-item class="menu-item-list">
            <a md-raised-button routerLink=".">Raised button</a>
        </md-list-item>
      </md-list>
  </div>
</div>
